body {
    background: #fff;
    margin: 0;
    overflow: hidden;
}

#color-box {
    width: 100%;
    height: 70%;
    background-image: linear-gradient(to right, #86f, #aef);
}

#main-container {
    display: flex;
    background: #fff;
    position: fixed;
    justify-self: center;
    align-self: anchor-center;
    box-shadow: 0.3em 0.3em 1em 0;
    border-radius: 0.5em;
    max-width: 47em;
    min-height: 30em;
}

#main-left-column {
    padding: 1em;
    align-items: center;
    display: flex;
}

#main-right-column {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly;
    height: 2em;
    padding-left: 2em;
    padding-top: 3em;
    font-family: math;
    color: #444;
    padding-right: 0.5em;
}

#hero {
    width: 25em;
    cursor:url('monkey.png'), pointer;
}

.header {
    font-size: 3em;
    color: #000;
    font-weight: bold;
}

.super-header {
    font-size: 0.9em;
}

.sub-header {
    font-size: 2em;
    font-style: italic;
    color: #000;
}

.navbar {
    display: flex;
    gap: 4em;
    justify-content: end;
    padding-right: 3em;
    padding-top: 1em;
}

.navbar a {
    color: white;
    text-shadow: 0.1em 0.1em 0.2em black;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
    color: rgb(0, 255, 255);
}

.disabled-nav-link {
    color: gray;
    text-decoration: none;
}

.game-header {
    position: fixed;
    color: black;
    /* text-shadow: 0.1em 0.1em 0.1em BLACK; */
    font-size: 2em;
    align-self: baseline;
    margin-top: 0.7em;
    margin-left: -5.5em;
    pointer-events: none;
    border-radius: 5em;
    padding: 1.4em;
    width: 6em;
    text-align: center;
    display: none;
}

.speech-bubble {
    width: 6em;
    position: fixed;
    z-index: -1;
}

.bubble-content {
    margin-left: 3.4em;
    margin-top: 1em;
    width: 5em;
}

.game-score {
    position: fixed;
    display: none;
    color: white;
    text-shadow: 0.1em 0.1em 0.1em BLACK;
    align-self: baseline;
    padding-top: 2em;
    padding-left: 0.5em;
    text-align: center;
    justify-self: anchor-center;
    pointer-events: none;
}



.secret-link {
    position: fixed;
    top: 1em;
    right: 31em;
    color: white;
    text-shadow: 0.1em 0.1em 0.2em black;
    text-decoration: none;
    cursor: pointer;
}

.game-bullet {
    position: absolute;
    display: none;
    pointer-events: none;
}